<!DOCTYPE html>
<html>
<style type="text/css">
table { border: 1px solid; border-collapse: collapse; }
table td { border-left: 1px solid #000; }
table td:first-child { border-left: none; }
</style>

<body>

<table width="900px" height="20px" align="center">

	<tr>
		<td bgcolor="#D3D3D3" align="center" width="60px"> 1</td>
		<td>this is lindfffffffffffffffdfhgd dfg dgdfgdfggggggggggggggggggggggggggggggggggggggg dfgghdfghdfghdfghdfghdfhgdfhgdfhgdfhgdfg gdfghdfgdfghgdfhgdfhgdfhdfghgdfhgdfhgdfhgdfhgdfhg gdfhgdfhghdfghdfghgdfhgdfhgdfhgdfhgdfhgdfhgdfhgd fhghg hghgh hgedgdfgdfggggggggggggggggggggggggggggggggggggggg dfgghdfghdfghdfghdfghdfhgdfhgdfhgdfhgdfg gdfghdfgdfghgdfhgdfhgdfhdfghgdfhgdfhgdfhgdfhgdfhg gdfhgdfhghdfghdfghgdfhgdfhgdfhgdfhgdfhgdfhgdfhgd fhghg hghgh hge 1</td>
	</tr>
	<tr>
		<td bgcolor="#D3D3D3" align="center"> 2</td>
		<td>this is line 2</td>
	</tr>
</table>

</body>
</html>

