<!DOCTYPE html>
<html lang = "en-US">
 <head>
 <meta charset = "UTF-8">
 <title>fileViewer.html</title>
 <style type = "text/css">
 .outer {
    width: 960px;
    color: black;
    border: 2px solid;
    padding: 5px;
 }
.viewButton{
 background:grey;
 text-align:center;
 width:100px;
 height:30px;

}
.divider{
    width:10px;
    height:auto;
    display:inline-block;
}
table,th {
    border: solid grey;
    border-collapse:collapse;
    height:30px;
 
}
 </style>
 </head>
 <body>
 <div class="outer">
<br/>
<br/>
<div align="center">
<div class="divider"></div>
  <input type="text" name ="fileInput" id="fileInput" placeholder="/path/to/file" style="height:24px;width:800px"></input><div class="divider"></div>
  <input  class="viewButton" type="button" name="showFile" id="showFile" value="View"></input><div class="divider"></div>
</div>
<br/>
<br/>
<br/>
<table width="920px" height="20px" align="center">
  <tr>
    <th><a href="" value="|&lt;">|&lt;</a></th>
    <th>&lt;</th> 
    <th>&gt;</th>
    <th>&gt;|</th>
  </tr>
</table>

<br/>
</div>
 </body>
</html>
