<!DOCTYPE html>
<html lang = "en-US">
<head>
<meta charset = "UTF-8">
<title>fileViewer</title>
<script src="../static/js/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/fileViewer_v1.0.0.css">
</head>
<body>
<div class="outer">
	<br/>
	<br/>
	<div class="center">
		<div class="divider"></div>
		<input type="text" name ="fileInput" id="fileInput" placeholder="/path/to/file" class="inptBx"></input>
		<div class="divider"></div>
		<input  class="viewButton" type="button" name="showFile" id="showFile" value="View"></input>
		<div class="divider"></div>
		<input type="hidden" id="page" value="1" name="page" />
		<div class="divider"></div>
		<div class="divider"></div>
		<span id="cont"></span>
		<div class="divider"></div>
		<div class="divider"></div>
		<div class="divider"></div>
		<table width="920px" height="20px" align="center">
			<tr>
				<th  id="first" >|&lt;</th>
				<th id="prev" >&lt;</th> 
				<th id="next" >&gt;</th>
				<th id="last" >&gt;|</th>
			</tr>
		</table>

		<br/>
	</div>
</div>
<script type='text/javascript'>
var getDataUrl = <?php echo json_encode($getDataUrl); ?>;
</script>
<script src="../static/js/fileViewer_v1.0.0.js"></script>
</body>
</html>
